<!DOCTYPE html>
<html>
<head>
    <title>Gastenadministratie</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>

<div class="container">

<h1>🏡 Gastenadministratie</h1>


<a href="./nieuw" class="button">
    + Nieuwe boeking
</a>

<table>

<tr>
    <th>Boeker</th>
    <th>Gasten</th>
    <th>Periode</th>
    <th>Nachten</th>
    <th>Bedrag</th>
    <th>Belasting</th>
    <th></th>
</tr>


{% for b in boekingen %}

<tr>

<td>
{{ b.boeker }}
</td>

<td>
{{ b.gast1 }}
{% if b.gast2 %}
<br>{{ b.gast2 }}
{% endif %}
</td>

<td>
{{ b.aankomst }}
<br>
t/m
<br>
{{ b.vertrek }}
</td>

<td>
{{ b.nachten }}
</td>

<td>
€ {{ "%.2f"|format(b.bedrag) }}
</td>

<td>
€ {{ "%.2f"|format(b.belasting) }}
</td>

<td>

<a href="./bewerken/{{ b.id }}">    ✏️
</a>

<a href="./verwijderen/{{ b.id }}"
   onclick="return confirm('Deze boeking verwijderen?');">
    🗑
</a>

</td>
</tr>

{% endfor %}


</table>

</div>

</body>
</html>
