<!DOCTYPE html>
<html>
<head>
    <title>Nieuwe boeking</title>
</head>

<body>

<h1>Nieuwe boeking</h1>

<form method="post">

Naam:
<input name="naam"><br><br>

Personen:
<select name="personen">
<option value="1">1</option>
<option value="2">2</option>
</select>

<br><br>

Aankomst:
<input type="date" name="aankomst">

<br><br>

Vertrek:
<input type="date" name="vertrek">

<br><br>

Bedrag:
<input name="bedrag">

<br><br>

Status:
<select name="status">
<option>Bevestigd</option>
<option>Betaald</option>
<option>Geannuleerd</option>
</select>

<br><br>

<button type="submit">Opslaan</button>

</form>

</body>
</html>
