<!DOCTYPE html>
<html>
<head>
    <title>Nieuwe boeking</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>

<div class="container">

<h1>Nieuwe boeking</h1>


<form method="post">


<label>Boeker</label>
<input name="boeker"
value="{{ boeking.boeker if boeking else '' }}"
required>

<label>Gast 1</label>
<input name="gast1">


<label>Gast 2</label>
<input name="gast2">


<label>Aantal personen</label>

<select name="personen">
<option value="1">1</option>
<option value="2">2</option>
</select>


<label>Aankomst</label>

<input type="date" name="aankomst" required>


<label>Vertrek</label>

<input type="date" name="vertrek" required>


<label>Bedrag ontvangen</label>

<input name="bedrag" type="number" step="0.01">


<br><br>

<button type="submit">
Opslaan
</button>


</form>

</div>

</body>

</html>
