<!DOCTYPE html>
<html>
<head>
    <title>Nieuwe boeking</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

<div class="container">

<h1>Nieuwe boeking</h1>


<form method="post">


<label>Boeker</label>
<input name="boeker"
value="{{ boeking.boeker if boeking else '' }}"
required>

<label>Gast 1</label>
<input name="gast1"
value="{{ boeking.gast1 if boeking else '' }}">


<label>Gast 2</label>
<input name="gast2"
value="{{ boeking.gast2 if boeking else '' }}">

<label>Aantal personen</label>

<select name="personen">

<option value="1"
{% if boeking and boeking.personen == 1 %}selected{% endif %}>
1
</option>

<option value="2"
{% if boeking and boeking.personen == 2 %}selected{% endif %}>
2
</option>

</select>

<label>Aankomst</label>
<input type="date" 
name="aankomst"
value="{{ boeking.aankomst if boeking else '' }}"
required>

    
<label>Vertrek</label>
<input type="date" 
name="vertrek"
value="{{ boeking.vertrek if boeking else '' }}"
required>

<label>Nachtprijs</label>
<input name="nachtprijs"
type="number"
step="0.01"
min="0"
value="{{ boeking.nachtprijs if boeking else '' }}"
required>
<br><br>

<button type="submit">
Opslaan
</button>


</form>

</div>

</body>

</html>
